img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
}

p{
    /* font-size: 24px; */
    width: 50vw;
   /* color: rgb(226, 81, 14); */
}
ul {
    list-style:none;
}
P, li{
    font-size: 18px;/* TAMANHO 24PX*/
    color: rgb(0, 0, 0); /* COR LARANJA */
}
header{
    font-size: 24px;
    text-align: center;

}
main{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;


}
footer{
    font-size: 18px;
    text-align: center;
}